<p>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <span>D3 Charts Examples</span>
    </mat-toolbar>
</p>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="nav">
        <h1 class="text-nav-style">Examples</h1>
        <mat-list>
            <mat-list-item class="text-nav-style">Bubble Chart</mat-list-item>
            <mat-list-item class="text-nav-style">World Cloud Chart</mat-list-item>
            <mat-list-item class="text-nav-style">Pie Chart</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
